

.c-container-form-login{
    background: $background;
    border-radius: 10px;
}

.c-svg-img-login{
    width: 100%;
}

.c-svg-logo-login{
    width: 75%;
    padding: 9px 0rem 0px 9px;
    
}


.c-input-form-login{
    font-size: 15px;
    line-height: 1.5;
    color: $colorText;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 44px;
    border-radius: 25px;
    padding: 0 30px 0 26px;
}

.txt2 {
    font-size: 13px;
    line-height: 1.5;
  }
  

.c-btn-form-login{
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: $colorCOne;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.c-btn-form-login:hover{
    background: $colorCOneAlt;
}

.c-img-login{
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px  0;
}