.o-layout-lista{
    width: 100%;
    position: relative;
    top: 0;
    padding: 2rem 2rem 3rem;
}

.container-lista-select{
    position: fixed;
    right: 0;
    top: 6rem;
}

.o-layout-lista-select{
    width: 100%;
    position: relative;
    top: -3rem;
    right: -14.5rem;
}

.mostrar{
    transform: translate(-14.5rem);
    transition: all 0.4s;
}

.o-layout-form-lista-select{
    margin-left: 3rem;
}

.o-img-filtrar-busqueda{
    width: 3.6rem;
}