
.o-layout-container{
    min-width: 50%;
    max-width: 80%;
    min-height: 68vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    padding: 2rem 1rem 1rem;
    border-radius: 10px;
}

canvas{
    width: 10px;
}


.o-layout-grafico{
    width: 47%;
    min-height: 30%;
    max-height: 38%;
    margin: 0 .8rem 1.5rem;   
}

.o-layout-grafico-estado{
    width: 96%;
    max-height: 45%;
}
