$colorOne:  hsl(216, 100%, 53%);
$colorOneAlt: hsl(216, 100%, 60%);
$colorFour: hsl(0, 0%, 95%);
$colorTwo: hsl(0, 0%, 89%);
$colorTwTrans: hsla(0, 0%, 100%, 0.48);
$colorTwoAlt: hsl(0, 0%, 27%);
$colorText:hsla(0, 0%, 52%, 0.9);
$colorFive: hsl(0, 0%, 75%);
$colorTextSecundario: hsl(0, 0%, 42%);

$colorTextEnlace: hsl(0, 0%, 0%);
$colorTextActive: hsl(0, 0%, 100%);
$colorTwoTrans:rgba(212, 212, 212, 0.363);

$background: $colorTwo;

$colorCOne: $colorOne;
$colorCOneAlt: $colorOneAlt;
$colorCTwo:$colorFour;
$transparencia: hsla(0, 0%, 33%, 0.61);



